<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/quienesomos.css">
    <title>Quienes Somos</title>
</head>

<body>
    <header class="header">
        <br>
            <a href="../index.html"><img src="../img/sch.png" alt=""></a>
            <h1>Casa Schettini</h1>
            <h3>Controladores Fiscales / Equipamiento para Comercios y Empresas</h3>
            <h4>Desde 1997</h4>
        <br>
        <nav>
        <ul class="navbar">
                <a href="/multimedia"target="_blank" class="redes">Multimedia</a>
                <a href="/quienesomos"target="_blank" class="redes">Quienes somos</a>
                <a href="https://www.facebook.com/casaschettinicba/"target="_blank" class="redes">Facebook</a>
                <a href="https://www.youtube.com/channel/UCW9EOOSqq-Ns5B7EqGv8sIg"target="_blank" class="redes">Youtube</a>
                <a href="https://www.instagram.com/casaschettini/"target="_blank" class="redes">Instagram</a>
            </ul>
        </nav>
    </header>

    <article class="section">
    <h2 class="no">Nuestros Origenes</h2>
        <p class="parrafo"> En el año 1937 Américo D. Schettini ingresa a los cursos de entrenamiento en "The National Cash Register Company" (mas conocida como NCR), principal fábrica de máquinas registradoras del mundo, y se traslada a Córdoba para hacerse cargo del servicio post-venta y de mantenimiento de registradoras y maquinas de contabilidad de dicha marca. <br>
        En 1955 nace CASA SCHETTINI ampliando ese servicio a otras marcas (Sweda, Anker, Riv, entre otras). En 1970, bajo la dirección del Ing. Jorge Schettini comienza la venta, distribución y servicio de las registradoras HASLER, de orígen suizo. Años mas tarde, en 1977, con el comienzo de la era electrónica la empresa se convierte en importadora directa de Tokio a Córdoba, sin la tradicional escala porteña, de las famosas registradoras y balanzas TEC (Tokio Electric Co.) de la corporación japonesa TOSHIBA. <br>
        Actualmente, ya en la era fiscal, ofrecemos toda la gama de controladores e impresoras fiscales homologadas por AFIP, como también una gran variedad de equipos comerciales y un servicio de venta, asesoramiento, mantenimiento  de equipos, y todo lo relacionado con los puntos de venta para negocios y empresas.
        </p>
    </article>

    <footer class="footer">
        <p>
            &copy;2022 ::::: Derechos Reservados 
        </p>
        <p>
            Desarrollado por <a href="https://www.linkedin.com/in/franco-sartori-7166a522a/" target="_blank">Franco Sartori</a>
        </p>
        Enviame un  <a href="mailto:francosarto11@gmail.com">Mail</a>
    </footer>

    <script src="/src/index.js"></script>
</body>
</html>